<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusX</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <nav>
        <h1>CampusX</h1>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Skills</a></li>
            <li><a href="#">Marketplace</a></li>
            <li><a href="/auth">Login</a></li>
        </ul>
    </nav>

    <section class="hero">
        <h2>Your College Community Platform</h2>
        <p>Swap skills. Buy & sell. Connect with batchmates.</p>
        <a href="#" class="btn">Get Started</a>
    </section>
<footer>
    <div class="footer-content">
        <div class="footer-left">
            <h2>CampusX</h2>
            <p>The ultimate student community platform</p>
        </div>
        <div class="footer-links">
            <h4>Connect</h4>
            <a href="https://www.linkedin.com/in/aysha-rihana-21a6a7335" target="_blank">LinkedIn</a>
            <a href="https://github.com/Rihana010" target="_blank">GitHub</a>
            <a href="mailto:aysharihana010@gmail.com">Email</a>
        </div>
        <div class="footer-links">
            <h4>Platform</h4>
            <a href="/skills">Skill Swap</a>
            <a href="/marketplace">Marketplace</a>
            <a href="/auth">Login</a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2026 CampusX — Made with 🩶 by Aysha Rihana</p>
    </div>
</footer>
</body>
</html>